* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #333333;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 30px;
}

.links {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.links a span {
    font-family: 'icomoon';
    font-size: 40px;
    display: block;
    margin: 20px;
    color: white;
}

.visitors {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
}

.visitorsNumber {
    margin-left: 10px;
    font-size: 30px;
}